.star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 29px 730px #fff, 1345px 2px #fff, 606px 808px #fff, 1888px 325px #fff, 609px 961px #fff, 106px 428px #fff, 1081px 615px #fff, 1184px 384px #fff, 1339px 947px #fff, 496px 811px #fff, 55px 283px #fff, 111px 369px #fff, 828px 462px #fff, 817px 386px #fff, 1788px 56px #fff, 1518px 83px #fff, 1285px 35px #fff, 1737px 161px #fff, 1703px 434px #fff, 1393px 173px #fff, 316px 988px #fff, 582px 387px #fff, 1270px 784px #fff, 1273px 621px #fff, 594px 167px #fff, 1576px 4px #fff, 1388px 539px #fff, 921px 131px #fff, 1904px 332px #fff, 892px 64px #fff, 1697px 444px #fff, 1108px 237px #fff, 540px 437px #fff, 1776px 282px #fff, 200px 233px #fff, 488px 347px #fff, 938px 998px #fff, 1476px 684px #fff, 1811px 187px #fff, 461px 950px #fff, 1904px 919px #fff, 1897px 130px #fff, 1851px 592px #fff, 124px 828px #fff, 547px 878px #fff, 1585px 896px #fff, 555px 672px #fff, 1660px 712px #fff, 1738px 759px #fff, 1556px 85px #fff, 1619px 972px #fff, 798px 643px #fff, 9px 531px #fff, 457px 742px #fff, 802px 986px #fff, 1565px 839px #fff, 1617px 659px #fff, 249px 542px #fff, 145px 585px #fff, 1558px 503px #fff, 606px 81px #fff, 897px 335px #fff, 1775px 853px #fff, 1081px 506px #fff, 797px 882px #fff, 13px 521px #fff, 987px 473px #fff, 478px 242px #fff, 504px 430px #fff, 565px 191px #fff, 1249px 400px #fff, 1296px 259px #fff, 1650px 333px #fff, 873px 768px #fff, 603px 353px #fff, 1750px 928px #fff, 1125px 249px #fff, 995px 824px #fff, 523px 388px #fff, 1920px 800px #fff, 1376px 833px #fff, 722px 503px #fff, 1121px 655px #fff, 1553px 207px #fff, 265px 543px #fff, 501px 5px #fff, 400px 752px #fff, 1095px 179px #fff, 1072px 202px #fff, 1114px 738px #fff, 1810px 461px #fff, 1691px 504px #fff, 1719px 925px #fff, 1409px 715px #fff, 775px 366px #fff, 884px 721px #fff, 1159px 300px #fff, 1643px 853px #fff, 1852px 790px #fff, 1403px 688px #fff, 1445px 507px #fff, 654px 719px #fff, 1272px 209px #fff, 364px 174px #fff, 1127px 575px #fff, 1021px 161px #fff, 1681px 216px #fff, 349px 362px #fff, 1865px 532px #fff, 64px 746px #fff, 16px 396px #fff, 345px 391px #fff, 1536px 535px #fff, 334px 546px #fff, 1384px 84px #fff, 1202px 556px #fff, 1737px 993px #fff, 384px 505px #fff, 1574px 881px #fff, 63px 466px #fff, 305px 370px #fff, 1614px 880px #fff, 856px 352px #fff, 308px 232px #fff, 415px 312px #fff, 690px 333px #fff, 886px 911px #fff, 659px 675px #fff, 1795px 59px #fff, 1498px 846px #fff, 255px 568px #fff, 1753px 158px #fff, 1552px 575px #fff, 98px 506px #fff, 1188px 383px #fff, 45px 184px #fff, 792px 900px #fff, 1010px 28px #fff, 1772px 110px #fff, 1064px 14px #fff, 171px 508px #fff, 860px 660px #fff, 1428px 996px #fff, 230px 621px #fff, 510px 535px #fff, 1781px 379px #fff, 1576px 910px #fff, 197px 973px #fff, 558px 905px #fff, 1339px 788px #fff, 871px 840px #fff, 980px 141px #fff, 708px 989px #fff, 174px 105px #fff, 574px 844px #fff, 1706px 668px #fff, 1132px 626px #fff, 1173px 173px #fff, 1352px 353px #fff, 648px 435px #fff, 1366px 470px #fff, 1446px 343px #fff, 604px 753px #fff, 759px 719px #fff, 288px 155px #fff, 950px 600px #fff, 381px 655px #fff, 809px 88px #fff, 177px 505px #fff, 1102px 946px #fff, 804px 420px #fff, 1905px 389px #fff, 1916px 168px #fff, 1547px 431px #fff, 1269px 784px #fff, 1015px 978px #fff, 677px 831px #fff, 1346px 746px #fff, 671px 840px #fff, 79px 453px #fff, 1648px 623px #fff, 1470px 932px #fff, 297px 580px #fff, 1695px 844px #fff, 637px 695px #fff, 1042px 863px #fff, 1854px 513px #fff, 549px 20px #fff, 1301px 324px #fff, 1472px 489px #fff, 635px 254px #fff, 177px 741px #fff, 1561px 181px #fff, 1655px 683px #fff, 1664px 989px #fff, 971px 679px #fff, 1369px 893px #fff, 1498px 244px #fff, 398px 885px #fff, 767px 481px #fff, 1657px 654px #fff, 757px 547px #fff, 595px 10px #fff, 1606px 518px #fff, 711px 396px #fff, 879px 498px #fff, 469px 21px #fff, 1859px 655px #fff, 443px 314px #fff, 1586px 381px #fff, 1275px 250px #fff, 213px 47px #fff, 1069px 816px #fff, 294px 729px #fff, 1438px 462px #fff, 789px 968px #fff, 680px 83px #fff, 248px 719px #fff, 54px 458px #fff, 13px 842px #fff, 649px 120px #fff, 1440px 27px #fff, 28px 661px #fff, 1363px 336px #fff, 976px 816px #fff, 128px 925px #fff, 61px 705px #fff, 1112px 206px #fff, 36px 542px #fff, 37px 373px #fff, 1247px 235px #fff, 461px 477px #fff, 462px 474px #fff, 573px 895px #fff, 315px 483px #fff, 334px 408px #fff, 844px 439px #fff, 103px 417px #fff, 301px 546px #fff, 135px 576px #fff, 671px 693px #fff, 1137px 827px #fff, 1850px 772px #fff, 989px 980px #fff, 377px 336px #fff, 333px 835px #fff, 1567px 322px #fff, 302px 155px #fff, 732px 382px #fff, 607px 231px #fff, 1278px 436px #fff, 1788px 112px #fff, 309px 209px #fff, 1015px 803px #fff, 210px 14px #fff, 388px 831px #fff, 1166px 176px #fff, 1361px 978px #fff, 671px 672px #fff, 1550px 944px #fff, 521px 685px #fff, 1482px 692px #fff, 249px 736px #fff, 1760px 892px #fff, 900px 525px #fff, 670px 799px #fff, 837px 642px #fff, 1813px 685px #fff, 304px 750px #fff, 357px 164px #fff, 456px 529px #fff, 178px 206px #fff, 623px 327px #fff, 1161px 704px #fff, 1470px 78px #fff, 1508px 196px #fff, 1085px 256px #fff, 167px 502px #fff, 559px 814px #fff, 1702px 408px #fff, 1483px 459px #fff, 502px 263px #fff, 1400px 116px #fff, 987px 595px #fff, 1225px 753px #fff, 411px 834px #fff, 130px 716px #fff, 729px 563px #fff, 552px 558px #fff, 1429px 185px #fff, 19px 24px #fff, 1708px 113px #fff, 1350px 832px #fff, 1581px 958px #fff, 690px 150px #fff, 743px 522px #fff, 1840px 680px #fff, 111px 170px #fff, 787px 95px #fff, 64px 957px #fff;
  }
  
  .meteor-1 {
    position: absolute;
    top: 157px;
    left: 94%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-2 {
    position: absolute;
    top: 159px;
    left: 31%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.4s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-3 {
    position: absolute;
    top: 144px;
    left: 32%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.1s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-4 {
    position: absolute;
    top: 113px;
    left: 76%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.2s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-5 {
    position: absolute;
    top: 275px;
    left: 48%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-6 {
    position: absolute;
    top: 200px;
    left: 13%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.1s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-7 {
    position: absolute;
    top: 62px;
    left: 30%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.7s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-8 {
    position: absolute;
    top: 51px;
    left: 35%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.4s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-9 {
    position: absolute;
    top: 161px;
    left: 21%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-10 {
    position: absolute;
    top: 259px;
    left: 58%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.1s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-11 {
    position: absolute;
    top: 247px;
    left: 76%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.9s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-12 {
    position: absolute;
    top: 196px;
    left: 84%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.9s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-13 {
    position: absolute;
    top: 149px;
    left: 38%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.1s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-14 {
    position: absolute;
    top: 206px;
    left: 37%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  .meteor-15 {
    position: absolute;
    top: 252px;
    left: 64%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.9s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  
  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }