.btn:hover {
    color: black !important
}


.card {
    border-radius: 10px !important
}

.card-title{
    color: #333;
}
.btn-outlined:active {
    color: #FFF;
    border-color: #fff !important
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important
}

.name{
  color:#58cced;
}
