
/* staff css starts here */
.section-staff .single-person {
	padding: 20px;
	border-radius: 5px;
}


.section-staff .single-person .person-image {
    position: relative;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-staff .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-staff .single-person .person-image img {
	width: 125px;
    border-radius: 50%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 60em;
}